[#ftl strip_text="true" /]

[#macro oRenderer ]

<script id="linkinfo" type="text/x-jsrender">
    [#noparse]
    <div class="linkdetails clearfix" id="linkdetailsdiv{{>linkid}}">
        <form data-linkid="{{>linkid}}">
            <h2>Access Link</h2>
            <div class="linkstatus tooltip" title="Turning the link ON and OFF. When set to ON, the Active Until date will limit the last day the link can be accessed.">
                <h3>Active</h3>
                <div id="linkstatussetting{{>linkid}}" class="linkstatussetting">
                    <input type="radio" value="true"  class="statuson" name="status" id="lsstateon{{>linkid}}" {{if active == true}}checked="checked"{{/if}}/><label for="lsstateon{{>linkid}}">ON</label>
                    <input type="radio" value="false" class="statusoff" name="status" id="lsstateoff{{>linkid}}" {{if active == false}}checked="checked"{{/if}} /><label for="lsstateoff{{>linkid}}">OFF</label>
                </div>
            </div>
            <div class="linkdate tooltip"  title="Use this to set the last date the link can be accessed. It link is set to OFF, the link will not be accessible no matter what this date is set to.">
                <h3>Active Until</h3>
                <input type="text" id="datepicker{{>linkid}}" value="{{>activeto}}" placeholder="Date not set"/>
            </div>
            <div class="linkurl tooltip"  title="Copy this link and paste it in the document that will be distributed to the participants. This document could be a web page, an email, a LMS, or some other media used for distribution.">
                <h3>URL</h3>
                <input type="text" class="input_full" value="{{>deeplink}}" contenteditable="false"/>
            </div>
        </form>
    </div>
    [/#noparse]

</script>

[/#macro]

